.Home {
    width: 100%;
    display: flex;
}

.column {
    flex: 1;
    padding: 20px;
}

.block-header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #41435a;
    color: white;
    letter-spacing: 2px;
}

.block-header__title {
    padding-left: 20px;
}

.block {
    background-color: #2f3243;
    box-shadow: 0px 0px 10px #1d1e27;
}

.content {
    padding: 20px;
}

.home-page__icon {
    transform: translateY(3px);
    margin-right: 15px;
}

.dt-row:nth-child(even) {
    background-color: #373a4e;
}

.dt-row {
    text-align: center;
    color: white;
    display: flex;
    width: 100%;
    padding: 10px 0px;
}

.dt-row:hover {
    background-color: #474b64;
}

.dt-row__team {
    font-size: 12px;
}

.dt-row__full-name{
    text-align: center;
    flex: 0 0 50%;
}

.dt-row__points{
    text-align: center;
    flex: 0 0 10%;
}

.dt-row__ppg{
    text-align: center;
    flex: 0 0 10%;
}

.dt-row__minutes{
    text-align: center;
    flex: 0 0 10%;
}

.dt-row__position{
    text-align: center;
    flex: 0 0 10%;
}

.dt-row-head {
    text-align: center;
    color: white;
    padding: 15px 0px !important;
    margin: 10px 0px;
    display: flex;
    width: 100%;
    background-color: #414358;
    padding: 5px 0px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.fixture-row {
    text-align: center;
    color: white;
    padding: 10px 0px;
    display: flex;
  }
  
  .fixture-row:nth-child(even) {
    background-color: #373a4e;
  }
  
  .fixture-row:hover {
    background-color: #474b64;
  }
  
  .fixture-row__team-left {
    text-align: right;
    flex: 1;
    width: 44%;
  }
  
  .fixture-row__team-right {
    text-align: left;
    flex: 1;
    width: 44%;
  }
  
  .fixture-row__time {
    text-align: center;
    flex: 1;
    width: 12%;
  }
  
  .fixture-row__time__text {
    background-color: #414358;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
