.PlayerPageSingle__name {
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

.PlayerPageSingle__content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.PlayerPageSingle__content > .column {
  padding: 20px;
}

.PlayerPageSingle__content > .column-right {
  flex: 2.1 0 0;
}

.PlayerPageSingle__content > .column-left {
  flex: 0.9 0 0;
}

.overall-data-news {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(139, 108, 49);
  color: white;
  margin-bottom: 10px;
}

.overall-data-row {
  text-align: center;
  color: white;
  padding: 10px 0px;
  display: flex;
}

.overall-data-row:nth-child(even) {
  background-color: #373a4e;
}

.overall-data-row:hover {
  background-color: #474b64;
}

.overall-data-row__label {
  text-align: right;
  flex: 1;
  width: 45%;
  padding: 0px 10px;
}

.overall-data-row__value {
  text-align: left;
  flex: 1;
  width: 45%;
  padding: 0px 10px;
}

.overall-data-picture {
  text-align: center;
  color: white;
  padding: 10px 0px;
  display: flex;
}

.overall-data-picture > .picture {
  flex: 1;
  justify-content: center;
}

.overall-data-picture > .picture > img {
  height: 200px;
}

.overall-data-picture > .player-info {
  flex: 1;
}

.tab-link {
  text-decoration: none;
  padding-bottom: 5px;
  color: #737996;
}

.history-tab-wrapper > .content {
  padding-top: 0px;
}

span[class^="player-fixture-difficulty-"] {
    opacity: 1;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.player-fixture-difficulty-1 {
    background-color: rgba(148,255,50, 0.8);
}

.player-fixture-difficulty-2 {
    background-color: rgba(110,187,37,0.8);
}

.player-fixture-difficulty-3 {
    background-color: rgba(180,148,6,0.8);
}

.player-fixture-difficulty-4 {
    background-color: rgba(199,63,0,0.8);
}

.player-fixture-difficulty-5 {
    background-color: rgba(214,0,0,0.8);
}