.result-row {
    text-align: center;
    color: white;
    padding: 10px 0px;
    display: flex;
  }
  
  .result-row:nth-child(even) {
    background-color: #373a4e;
  }
  
  .result-row:hover {
    background-color: #474b64;
  }
  
  .result-row__time {
    text-align: right;
    flex: 1;
    width: 44%;
  }
  
  .result-row__team-right {
    text-align: left;
    flex: 1;
    width: 44%;
  }
  
  .result-row__result {
    text-align: center;
    flex: 1;
    width: 12%;
  }
  
  .result-row__result__text {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .result-row__result__text.draw {
    background-color: #c3c3c3;
  }

  .result-row__result__text.loss {
    background-color: #fd4848;
  }

  .result-row__result__text.win {
    background-color: #5dc123;
  }

  .team-fixture-row {
    text-align: center;
    justify-content: center;
    color: white;
    padding: 10px 0px;
    display: flex;
  }
  
  .team-fixture-row:nth-child(even) {
    background-color: #373a4e;
  }
  
  .team-fixture-row:hover {
    background-color: #474b64;
  }
  
  .team-fixture-row__time {
    text-align: right;
    flex: 1;
    width: 44%;
    font-size: 14px;
  }
  
  .team-fixture-row__team-right {
    text-align: left;
    flex: 1;
    width: 44%;
  }
  
  .team-fixture-row__time {
    text-align: center;
    flex: 1;
    width: 12%;
  }
  
  .team-fixture-row__time__text {
    background-color: #414358;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .team-fixture-box {
      padding: 13px;
  }



  