html, body {
  height: 100%;
  margin: 0px;
  background-color: #2b2d3c;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.Content {
  width: 70%;
  margin: 0px auto;
  padding: 30px 10px;
}

.no-padding {
  padding: 0 0 0 0;
}